body {
    background-color: #eeeeee;
}

#metadataText {
    background-color: lightyellow;
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
}

.field {
    margin: 5px;
    display: flex;
    break-inside: avoid;
}

.validation {
    border-bottom: 1px solid black;
}

.field div {
    margin: 3px;
}

.field .name {
    background-color: cyan;
}

.field .range {
    background-color: lightgreen;
}

.field .pattern {
    background-color: lightblue;
}

.field .value {
    background-color: lightgrey;
}

#result {
    columns: 2;
}
